@page "/"

<div class="container mx-0 mx-md-2 my-1 my-md-3">
    <p style="max-width: 700px">
        Load one of the existing draft performances below,
        or click on the New Performance button to enter a new performance.
    </p>

    <button class="btn btn-primary" @onclick="NewPerformance">
        New Performance
    </button>

    <br />
    <br />

    @if (Performances == null)
    {
        <div class="spinner" style="position: absolute; left: 215px; top: 250px;
                --borderwidth: 16px; --width: 80px; --height: 80px">
        </div>
    }
    else
    {
        <table class="table table-striped" style="max-width: 475px">
            <thead>
                <tr style="font-size: small; color: white; background-color: gray">
                    <th class="align-left" style="font-weight:normal; width: 50px; padding: 6px">ID</th>
                    <th class="align-left" style="font-weight:normal; width: 350px; padding: 6px">Nickname</th>
                    <th class="align-left" style="font-weight:normal; width: 75px; padding: 6px">&nbsp;</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var performance in Performances)
                {
                    <tr style="font-size: small">
                        <td class="align-left" style="padding: 6px; padding-top: 9px">@performance.Id</td>
                        <td class="align-left" style="padding: 6px; padding-top: 9px">@performance.Nickname</td>
                        <td class="align-left" style="padding: 6px">
                            <button class="btn btn-primary" @onclick="@(e => LoadDraft(performance.Id))"
                                    style="font-size: 12px; height: 24px; padding-top: 2px">
                                Load
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
