@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Standard classes */

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Used by index.html */

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* Used by MainLayout.razor and NavMenu.razor */

.topbar {
    width: auto;
    min-height: 60px;
    display: flex;
    background-image: linear-gradient(90deg, rgba(58, 6, 71, 0.9), rgba(5, 39, 103, 1));
}

    .topbar .navbar-brand {
        font-size: 18px;
        color: white;
    }

    .topbar .navbar-toggler {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .topbar .nav-item {
        font-size: 14px;
        padding-bottom: 8px;
    }

        .topbar .nav-item .oi {
            width: 27px;
            font-size: 18px;
            vertical-align: text-top;
            top: -2px;
        }

        .topbar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            align-items: center;
        }

            .topbar .nav-item a.active {
                background-color: rgba(255, 255, 255, 0.3);
                color: white;
            }

            .topbar .nav-item a:hover {
                background-color: rgba(255, 255, 255, 0.15);
                color: white;
            }


/* Don't know where these are used */

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}


/* These classes added by me */

h1 {
    font-size: 20px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 15px;
}

.posabs {
    left: var(--leftpos);
    top: var(--toppos);
    position: absolute;
    user-select: none;
}

.posabsw {
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--width);
    position: absolute;
    user-select: none;
}

.posabswh {
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--width);
    height: var(--height);
    position: absolute;
    user-select: none;
}

.spinner {
    border-width: var(--borderwidth);
    border-style: solid;
    border-color: silver;
    border-top-width: var(--borderwidth);
    border-top-style: solid;
    border-top-color: #337AB7;
    border-radius: 50%;
    width: var(--width);
    height: var(--height);
    animation: spin 700ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}