<div class="navbar">
    <a class="navbar-brand posabs" style="--leftpos: 20px; --toppos: 8px" href="">
        BellBoard Mock-Up
    </a>

    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 200px; --toppos: 7px; --width: 135px; height: 36px"
                     href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 350px; --toppos: 7px; --width: 135px; height: 36px"
                     href="/entry" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Entry
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 500px; --toppos: 7px; --width: 135px; height: 36px"
                     href="/preview" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Preview
            </NavLink>
        </li>
    </ul>
</div>
